<div class="container">
  <%= simple_form_for(@bike) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.submit %>
  <% end %>
</div>
