<div class="container form-booking">
  <%= simple_form_for(@bike) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create bike", class: 'btn btn-info'%>
  <% end %>
</div>
